@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Space Grotesk", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: rgba(25, 26, 35, 1);
  --primary-bg-color: var(--primary-color);
  --primary-text-color: var(--primary-color);

  --secondary-color: rgba(185, 255, 102, 1);
  --secondary-bg-color: var(--secondary-color);
  --secondary-text-color: var(--secondary-color);

  --accent-color: rgba(243, 243, 243, 1);
  --accent-bg-color: var(--accent-color);
  --accent-text-color: var(--accent-color);
}

/* GENERAL STYLE */

h1,
h2,
h3,
h4,
p {
  font-weight: normal;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
  transition: all 300ms ease-in-out;
}

.button {
  height: 4.25rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--primary:hover {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
}

.heading {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.block__title {
  font-weight: bold;
  display: inline-block;
  padding: 2px 4px;
  border: none;
  border-radius: 7px;
  background-color: var(--secondary-bg-color);
}

.block__title--bg3 {
  background-color: var(--accent-bg-color);
}

.bold {
  font-weight: bold;
}

/* ABOUT SECTION */

.about {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5rem;
  padding: 1.75rem 6.25rem;
}

.about__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about__logo {
  font-size: 2.25rem;
  font-weight: bold;
}

.about__list {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.about__list .button {
  width: 14.5rem;
  cursor: pointer;
}

.about__item {
  font-size: 1rem;
}

.about__item:hover a {
  background-color: var(--secondary-text-color);
}

.about__item--active {
  text-decoration: underline;
}

.about__header {
  display: flex;
  justify-content: space-between;
}

.about__content {
  width: 33.25rem;
  display: flex;
  flex-direction: column;

  gap: 1.25rem;
}

.about__title {
  font-weight: bold;
}

.about__p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.about__button {
  width: 16.5rem;
  color: white;
  background-color: var(--primary-bg-color);
}

.about__image {
  height: 30rem;
  width: 37.5rem;

  background-image: url("../assets/images/about-image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.about__logos {
  display: flex;
  justify-content: space-between;
}

/* SERVICES SECTION */

.service {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
  padding: 6.25rem;
}

.service__p {
  width: 37rem;
}

.service__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);

  gap: 40px;
}

.service__card {
  height: 19.375rem;
  padding: 3.125rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid black;
  border-radius: 45px;
  box-shadow: 0px 5px var(--primary-bg-color);
}

.service__card--bg1 {
  background-color: var(--primary-bg-color);
}

.service__card--bg2 {
  background-color: var(--secondary-bg-color);
}

.service__card--bg3 {
  background-color: var(--accent-bg-color);
}

.service__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25px;
}

.service__button {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.service__link {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.service__link img {
  height: 100%;
  width: 100%;
  transform: rotateZ(135deg);
}

.service__click:hover,
.cases__click:hover {
  text-decoration: underline;
}

.service__click--c3 {
  color: var(--accent-text-color);
}

.service__logo {
  height: 10.625rem;
  width: 13.125rem;
}

.service__logo img {
  height: 100%;
  width: 100%;
}

.service__contact {
  width: 100%;
  height: 21.75rem;

  display: flex;
  justify-content: space-between;

  background-color: var(--accent-bg-color);
  padding: 3.75rem;
  border-radius: 45px;
}

.service__text {
  width: 31.25rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service__text a {
  width: 18rem;
  background-color: var(--primary-bg-color);
  color: white;
}

.service__h3 {
  font-weight: bold;
}

.service__image {
  transform: translate(-100px, -90px);
}

/* USE CASES SECTION */

.cases {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
  padding: 6.25rem;
}

.cases__container {
  height: 20.375rem;
  width: 100%;
  display: flex;
  justify-content: space-between;

  border-radius: 45px;

  padding: 3.75rem 3.75rem;
  background-color: var(--primary-bg-color);
}

.cases__content {
  height: 10rem;
  width: 17.875rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cases__p {
  color: white;
}

.cases__button {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.cases__button img {
  height: 28px;
  transform: rotateZ(135deg);
}

.cases__click--c2 {
  color: var(--secondary-text-color);
}

.cases__divider {
  height: 100%;
  width: 2px;

  background-color: white;
}

/* PRICING SECTION */

.process {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 5rem;
  padding: 6.25rem;
}

.process__container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.process__card {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  border: 1px solid var(--primary-bg-color);
  border-radius: 45px;
  box-shadow: 0px 5px var(--primary-bg-color);

  background-color: var(--accent-bg-color);
  padding: 2.5rem 3.75rem;
}

.process__card.open {
  background-color: var(--secondary-bg-color);
}

.process__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.process__title {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.process__button {
  height: 3.625rem;
  width: 3.625rem;

  border: 1px solid var(--primary-color);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.process__button span {
  height: 6px;
  width: 30px;
  display: block;

  border-radius: 2px;
  background-color: var(--primary-color);
}

.process__button span:first-child {
  transform: translateX(50%) rotateZ(90deg);
}

.process__button span:last-child {
  transform: translateX(-50%);
}

.process__divider {
  width: 100%;
  display: none;

  padding: 1px 3.75rem;

  background-color: var(--primary-bg-color);
}

.process__content {
  display: none;
}

.process__divider.open,
.process__content.open {
  display: block;
}

/* .process__button.open span:first-child {
  transform: translateX(50%) rotateZ(90deg);
}

.process__button.open span:last-child {
  transform: translateX(-50%);
} */
